:host {
  mat-toolbar.header {
    background-color: #fff;
    color: #fff;

    .page-title {
      text-transform: uppercase;
      color: #101213;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }

    .mobile-menu {
      margin-right: 7px;
      color: var(--primary);
    }

    .breadcumb {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #787878;

      a {
        color: #787878;
        text-decoration: none;
      }
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }


  .nav-buttons {
    align-items: center;

    .alert-icon {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;

      .material-symbols-outlined {
        color: var(--bs-primary);
        font-size: 2.25em;
        cursor: pointer;

        .mat-badge-content {
          font-family: "Open Sans", sans-serif !important;
          font-size: 10px;
          font-weight: 600;
          right: -3px;
          top: 0px;
          width: 18px;
          height: 18px;
          line-height: 19px;
        }
      }
    }

    .btn-viacredi {
      border-radius: var(--bs-border-radius-pill) !important;
      font-weight: 700;
      font-size: 1em;
    }

    .user-icon {
      background-image: url(../../../../assets/ìmg/pokebola.png);
      width: 62%;
      height: 100%;
      padding-bottom: 58%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 44px;
      border: 1px solid var(--primary);
      cursor: pointer;
      position: relative;

      .material-symbols-outlined {
        color: var(--primary);
        position: absolute;
        right: -2px;
        bottom: -5px;
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 48;
        font-size: 1.25em !important;
      }
    }
  }
}
