



<div class="row">

  <div class="col-12">
    <h4>
      Informe o CPF do futuro cooperado (a)
    </h4>
    <h5>
      Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.
      Digite apenas os números (sem pontos ou traços).
    </h5>
  </div>

  <div class="col-12 col-md-4 col-lg-3">
    <label for="document" class="form-label">CPF</label>
    <input type="email" class="form-control" id="document" placeholder="000.000.000-00">
  </div>

  <div class="col-12 col-md-3 col-lg-2" style="display: flex; flex-direction: column-reverse;">
    <button type="button" class="btn btn-primary btn-block">Consultar por CPF</button>
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-3" style=" background-color: white; margin-top: 3em; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding: 20px; gap: 20px;">
    <div class="row">
      <div class="col-12">
        <h4>Situação cadastral do CPF</h4>
        <h5>Consulta na Receita Federal</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        imagem
      </div>
      <div class="col-9">
        <h5>Nome</h5>
        <h4>Mariane de Sousa Oliveira</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        imagem
      </div>
      <div class="col-9">
        <h5>
          Situação do CPF
        </h5>
        <h4>Regular</h4>
      </div>
    </div>
  </div>
</div>






<div class="example-button-row">
</div>
