<div class="sidenav_container" (mouseenter)="onSinenavToggle()" (mouseleave)="onSinenavToggle()" [@onSideNavChange]="sideNavState ? 'open' : 'close'">

    <mat-list>
        <mat-list-item class="ailos-icon">
            <div class="icon"></div>
        </mat-list-item>
    
        <mat-list-item *ngFor="let item of menuList">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <div matListItemTitle [@animateText]="linkText ? 'show' : 'hide'">{{item.description}}</div>
        </mat-list-item>

    </mat-list>

</div>
