.example-container {
  /*  width: 100vw;*/
  height: 100vh;
  border: none;
}





mat-drawer-container {
  background-color: var(--bg-color) !important;

  mat-drawer.example-sidenav {
    background-color: var(--primary);
    color: #fff;
    width: 100px;
  }
}

