
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" [opened]="sidenavIsOpened">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
        <div class="main_content">
            <app-header [sidenav]="leftSidenav" [sidenavIsOpened]="sidenavIsOpened" [breadcumbList]="breadcumbList"> </app-header>

            <div class="container-fluid">
                <router-outlet></router-outlet>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


